{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid alert alert-dark alert-dismissible fade show
         pt-0 pb-2" role="alert" >
        <div class="row">
            <div class="col-10 mx-auto">
                <h2 class="alert-heading display-2">MotoRacing</h2>
                <hr>
                <p class="mb-0 lead">Servicio gratuito cuya finalidad es
                    facilitar el acceso al mercado laboral de las personas que conforman la
                    Comunidad Cuatrovientos (alumnado, exalumnado...) dando respuesta a los
                    procesos de selección solicitados por las empresas y otras
                    organizaciones.</p>
            </div>
        </div>
        <button type="button" class="close" data-dismiss="alert" arialabel="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 mx-auto">
                <h6 class="lead">A continuación ofrecemos las motos.</h6>
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-8 mx-auto ">
                {% for moto in motos %}
                    <div class="media py-2">
                        <img class="my-auto card-img" style="width:60px"
                             src="{{ moto.getPhoto() }}" alt="foto">
                        <div class="media-body">
                            <div class="mx-4 d-flex justify-content-between ">
                                <h4 class="p-0"> {{ moto.getName() }}
                                    <small ><i > {{ moto.getPrice() }}</i></small>
                                </h4>
                                {#<a href="{{ path('motos_show', {'id': moto.getId()}) }}" class="btn btn-outline-primary">More details...</a>#} 
                            </div>
                            <div class="px-2">
                                <p class="card-body text-muted mb-0"> {{ moto.getDescription() }} </p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}
